body {
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-600);
}

.main-header {
  margin-bottom: var(--spacing-500);
}

.calculator-container {
  background-color: var(--color-white);
  width: 100%;
  border-radius: 1.5625rem 1.5625rem 0 0;
  padding: var(--spacing-400) var(--spacing-300);
}

.calculator-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-400);
}

.input-panel {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.result-panel {
  background-color: var(--color-green-900);
  color: var(--color-white);
  border-radius: 0.9375rem;
  padding: var(--spacing-300);
}

.result-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-300);
}

.result-title {
  font-size: var(--text-preset-5);
  line-height: 24px;
}

.result-subtitle {
  color: var(--color-grey-400);
  font-size: var(--text-preset-6);
  line-height: 19px;
}

.result-value {
  color: var(--color-green-400);
  font-size: var(--text-preset-2);
  letter-spacing: -0.67px;
}

.btn-reset {
  width: 100%;
  background-color: var(--color-green-400);
  color: var(--color-green-900);
  padding: var(--spacing-100) var(--spacing-400);
  font-size: var(--text-preset-4);
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3125rem;
  margin-top: var(--spacing-100);
  cursor: pointer;
}

.btn-reset:disabled {
  background-color: var(--color-green-750);
  color: var(--color-green-800);
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  body {
    padding-bottom: var(--spacing-1000);
  }

  .calculator-container {
    max-width: 608px;
    width: 100%;
    border-radius: 1.5625rem;
    padding: var(--spacing-600) var(--spacing-1000);
  }

  .calculator-form {
    gap: var(--spacing-500);
  }

  .input-panel {
    gap: var(--spacing-300);
  }

  .result-panel {
    padding: var(--spacing-300) var(--spacing-400);
  }

  .result-display {
    margin-bottom: var(--spacing-100);
  }

  .result-value {
    color: var(--color-green-400);
    font-size: var(--text-preset-1);
    letter-spacing: -1px;
  }

  .btn-reset {
    margin-top: var(--spacing-100);
  }
}

@media screen and (min-width: 1200px) {
  body {
    justify-content: center;
    min-height: 100vh;
    padding: 0;
  }

  .calculator-container {
    max-width: 920px;
    width: 100%;
    padding: var(--spacing-400);
  }

  .calculator-form {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-600);
  }

  .input-panel {
    gap: var(--spacing-500);
  }

  .result-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .btn-reset {
    margin-top: auto;
  }
}
