.input-group label {
  font-size: var(--text-preset-5);
  line-height: 24px;
  margin-bottom: var(--spacing-100);
  display: block;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
}

.label-wrapper span {
  color: var(--color-orange-400);
  margin-bottom: var(--spacing-100);
  opacity: 0;
}

.label-wrapper span.error-message {
  opacity: 1;
}

.input-wrapper {
  background-color: var(--color-grey-50);
  border-radius: 0.3125rem;
  padding: var(--spacing-100) var(--spacing-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper.error-message {
  outline: 2px solid var(--color-orange-400);
}

.input-wrapper input {
  background-color: transparent;
  color: var(--color-green-900);
  border: none;
  width: 100%;
  text-align: right;
  font-size: var(--text-preset-3);
  outline: none;
}

.input-wrapper input::placeholder {
  color: var(--color-grey-300);
}

.input-wrapper:focus-within {
  outline: 2px solid var(--color-green-400);
}

.input-wrapper img {
  pointer-events: none;
}
